[user]
	name = Abhishek AN
	email = darkabhi1520@gmail.com
[color]
	ui = auto
[commit]
	gpgsign = true
[mergetool]
	keepBackup = false
[format]
        signoff = true
[core]
	editor = nano
	excludesfile = /home/darkabhi/.gitignore
[alias]
	c = commit -s
	d = diff
	loa = log --oneline --author='Abhishek AN'
	loc = log --oneline --committer='Abhishek AN'
	p = push
	pf = push --force
	r = remote
	s = status
[merge]
        log = true

[credential]
	helper = cache --timeout=3500
