[user]
	name = Abhishek AN
	email = darkabhi1520@gmail.com
[color]
	ui = auto
[commit]
	gpgsign = true
[mergetool]
	keepBackup = false
[format]
        signoff = true
[core]
	editor = nano
	excludesfile = /home/darkabhi/.gitignore
[alias]
	c = commit -s
	cp = cherry-pick --signoff
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	d = diff
	p = push
	pf = p --force
	r = remote
	s = status
[merge]
        log = true

[credential]
	helper = cache
